################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/x64
/calculator/x64
/.vs
/calculator/2023-12-05.log
/tetris/x64/Release
/tetris/x64/Debug
